Repository FlutterKaigi/2023, pull requests merged in 2023-07, with the labels that each got.

#111 自動で `Label` と `Assignee` を付与してくれるworkflowの追加
  .github/labeler.yml
  .github/workflows/auto_author.yml
  .github/workflows/label.yml
  README.md
Labels: improve

#112 `StaffSection` のリファクタリング
  lib/core/foundation/iterable_ex.dart
  lib/features/staff/ui/staff_item.dart
  lib/features/staff/ui/staff_row.dart
  lib/features/staff/ui/staff_section.dart
  lib/features/staff/ui/staff_table.dart
  test/.gitkeep
  test/core/foundation/iterable_ex_test.dart
Labels: improve

#115 スピーカーセクション（第1段階）の設計・実装
  assets/personal_wanted.svg
  lib/app/home_page.dart
  lib/core/components/wanted.dart
  lib/core/gen/assets.gen.dart
  lib/core/theme/dimension.dart
  lib/features/session/wanted/session_wanted.dart
Labels: feature

#117 スポンサーセクション(第1段階の実装)
  assets/Illustration-Teamwork.svg
  lib/app/home_page.dart
  lib/core/components/wanted.dart
  lib/core/gen/assets.gen.dart
  lib/features/sponsor_wanted/sponsor_wanted.dart
Labels: feature

#122 StaffWidgetのレイアウトを調整
  lib/features/staff/ui/staff_item.dart
  lib/features/staff/ui/staff_table.dart
Labels: bug

#121 fix: peter-evans/create-pull-requestをv5に更新
  .github/workflows/auto-format.yaml
Labels: bug

#123 セッションのプロポーザル募集セクションを公開
  lib/app/home_page.dart
  lib/features/session/wanted/session_wanted.dart
Labels: feature

#124 Sponsorボタンの修正
  lib/features/sponsor_wanted/sponsor_wanted.dart
Labels: bug
