Repository FlutterKaigi/2023, pull requests merged in 2023-09, with the labels that each got.

#142 Flutterを3.14.0-0.2.preにアップデート
  .fvm/fvm_config.json
  lib/app/home_page.dart
  lib/features/hero/ui/hero_section_mobile.dart
  lib/features/staff/ui/divider_with_title.dart
  lib/features/staff/ui/staff_table.dart
  pubspec.lock
  pubspec.yaml
Labels: improve

#151 SectionHeader のグラデーションを外から渡せるように変更
  lib/core/components/section_header.dart
  lib/core/components/wanted.dart
  lib/features/staff/ui/staff_header.dart
Labels: improve

#152 ソーシャルシェアのウィジェットを追加
  assets/icons/copy.svg
  lib/core/components/copy_url_button.dart
  lib/core/components/social_share.dart
  lib/core/components/tweet_button.dart
  lib/core/gen/assets.gen.dart
Labels: feature

#146 Accessセッションの実装
  .vscode/launch.json
  lib/app/home_page.dart
  lib/core/components/responsive_widget.dart
  lib/features/access/ui/access_widget.dart
Labels: feature

#158 fix: Access Section の下のパディング修正
  lib/app/home_page.dart
Labels: bug

#157 Safari環境でFlutterKaigiロゴの表示が崩れる問題を解消
  assets/flutterkaigi_logo.svg
  assets/flutterkaigi_logo_shadowed.svg
  lib/core/components/flutter_kaigi_logo.dart
  lib/core/gen/assets.gen.dart
Labels: improve

#159 ヘッダーにAccessボタンを追加
  lib/app/home_page.dart
Labels: bug

#160 スポンサー関連のヘッダーウィジェットを追加
  lib/features/sponsor/ui/sponsor_rank_header.dart
  lib/features/sponsor/ui/sponsors_header.dart
Labels: feature

#161 Ticketセッションの実装
  lib/app/home_page.dart
  lib/core/components/wanted.dart
  lib/features/ticket/ui/ticket_section.dart
Labels: feature

#165 `build.yaml`に`duplicate_ignore`の除外を追加
  build.yaml
Labels: bug

#162 スポンサー関連のモデルを追加
  lib/features/sponsor/data/sponsor.dart
  lib/features/sponsor/data/sponsor.freezed.dart
  lib/features/sponsor/data/sponsor_rank.dart
  lib/features/sponsor/data/sponsor_session.dart
  lib/features/sponsor/data/sponsor_session.freezed.dart
Labels: feature

#168 スポンサープランヘッダー関連の変更
  lib/features/sponsor/data/sponsor.dart
  lib/features/sponsor/data/sponsor_plan.dart
  lib/features/sponsor/ui/sponsor_plan_header.dart
Labels: improve

#170 スポンサー詳細ページを追加
  lib/app/app.dart
  lib/app/sponsor_page.dart
  lib/features/sponsor/ui/detail/sponsor_detail.dart
  lib/features/sponsor/ui/detail/sponsor_detail_content.dart
  lib/features/sponsor/ui/detail/sponsor_introduction.dart
  lib/features/sponsor/ui/detail/sponsor_session.dart
Labels: feature

#169 スポンサーセクションを追加
  .run/Mock debug.run.xml
  .run/Production debug.run.xml
  .run/Production profile.run.xml
  lib/app/home_page.dart
  lib/core/theme/dimension.dart
  lib/features/sponsor/ui/sponsor_logo_cards.dart
  lib/features/sponsor/ui/sponsor_plan_header.dart
  lib/features/sponsor/ui/sponsors_header.dart
  lib/features/sponsor/ui/sponsors_section.dart
Labels: feature

#175 スポンサー関連のデザイン調整
  lib/features/sponsor/ui/detail/sponsor_detail.dart
  lib/features/sponsor/ui/detail/sponsor_detail_content.dart
  lib/features/sponsor/ui/detail/sponsor_introduction.dart
  lib/features/sponsor/ui/sponsor_logo_cards.dart
Labels: feature

#176 スポンサー関連のデータを追加
  assets/sponsors/bitkey.svg
  assets/sponsors/cyberagent.png
  assets/sponsors/demaecan.svg
  assets/sponsors/diverse.svg
  assets/sponsors/enechain.svg
  assets/sponsors/flutter.svg
  assets/sponsors/harmo.png
  assets/sponsors/layerx.svg
  assets/sponsors/magicpod.svg
  assets/sponsors/mthree.svg
  assets/sponsors/navitime.svg
  assets/sponsors/pioneer.svg
  assets/sponsors/recruit.png
  assets/sponsors/studyplus.svg
  assets/sponsors/tenx.svg
  assets/sponsors/tokyu.svg
  assets/sponsors/youtrust.svg
  assets/sponsors/yumemi.svg
  lib/app/app.dart
  lib/core/gen/assets.gen.dart
  lib/features/sponsor/data/sponsor_data_source.dart
  lib/features/sponsor/data/sponsor_data_source.g.dart
  lib/features/sponsor/data/sponsor_provider.dart
  lib/features/sponsor/data/sponsor_provider.g.dart
  lib/features/sponsor/ui/sponsor_logo_cards.dart
  pubspec.yaml
Labels: feature

#177 hero sectionに会場情報を追加
  lib/features/hero/ui/hero_section_desktop.dart
  lib/features/hero/ui/hero_section_mobile.dart
Labels: improve

#174 見出しテキスト欠損の修正とスクロールのパフォーマンス改善
  lib/core/components/section_header.dart
Labels: bug, improve

#181 スポンサー詳細画面への遷移を実装
  lib/app/app.dart
  lib/app/home_page.dart
  lib/app/router/router.dart
  lib/app/router/router.g.dart
  lib/app/sponsor_page.dart
  lib/app/sponsor_page.g.dart
  lib/features/sponsor/data/sponsor_data_source.g.dart
  lib/features/sponsor/data/sponsor_provider.dart
  lib/features/sponsor/data/sponsor_provider.g.dart
  lib/features/sponsor/ui/detail/sponsor_detail.dart
  lib/features/sponsor/ui/detail/sponsor_detail.g.dart
  lib/features/sponsor/ui/detail/sponsor_detail_content.dart
  lib/features/sponsor/ui/detail/sponsor_session.dart
  lib/features/sponsor/ui/list/sponsor_logo_cards.dart
  lib/features/sponsor/ui/list/sponsors_section.dart
  lib/features/sponsor/ui/sponsor_section_header.dart
  pubspec.lock
  pubspec.yaml
Labels: feature

#183 スポンサー詳細画面のロゴカードをデザイン反映
  lib/features/sponsor/ui/detail/sponsor_detail.dart
  lib/features/sponsor/ui/detail/sponsor_detail_content.dart
  lib/features/sponsor/ui/detail/sponsor_detail_logo_card.dart
  lib/features/sponsor/ui/detail/sponsor_introduction.dart
Labels: feature

#184 ツイートボタンとコピーボタンのアクションを実装
  lib/core/components/copy_url_button.dart
  lib/core/components/social_share.dart
  lib/core/components/tweet_button.dart
  lib/features/sponsor/ui/detail/sponsor_detail.dart
  lib/features/sponsor/ui/detail/sponsor_detail_content.dart
Labels: feature

#167 HeaderBarを固定
  lib/app/home_page.dart
  lib/features/header/ui/header_widget.dart
Labels: improve

#185 スポンサーセクションヘッダーの位置修正
  lib/features/sponsor/ui/list/sponsors_section.dart
Labels: bug

#187 main ブランチの取り込み
  lib/app/home_page.dart
  lib/app/sponsor_page.dart
  lib/core/components/section_header.dart
  lib/features/header/ui/header_widget.dart
  lib/features/hero/ui/hero_section_desktop.dart
  lib/features/hero/ui/hero_section_mobile.dart
Labels: feature

#189 RepaintBoundary でスポンサーカードを包むよう修正
  lib/features/sponsor/ui/list/sponsor_logo_cards.dart
Labels: feature

#190 スポンサーの掲載順を変更
  lib/features/sponsor/data/sponsor_data_source.dart
Labels: feature

#147 セッション詳細画面の作成
  lib/app/home_page.dart
  lib/core/theme/dimension.dart
  lib/features/session/model/session.dart
  lib/features/session/model/session.freezed.dart
  lib/features/session/model/talk.dart
  lib/features/session/model/talk.freezed.dart
  lib/features/session/model/talk_user.dart
  lib/features/session/model/talk_user.freezed.dart
  lib/features/session_page/data/session_model.dart
  lib/features/session_page/data/session_model.freezed.dart
  lib/features/session_page/session_detail/session_detail.dart
  lib/features/session_page/session_detail/session_detail_desktop.dart
  lib/features/session_page/session_detail/session_detail_mobile.dart
  lib/features/session_page/session_detail/time_table.dart
Labels: feature

#192 セッション詳細画面の実装修正
  lib/app/home_page.dart
  lib/app/router/router.dart
  lib/app/router/router.g.dart
  lib/app/session_page.dart
  lib/app/session_page.g.dart
  lib/features/session_page/data/session_model.dart
  lib/features/session_page/data/session_model.freezed.dart
  lib/features/session_page/session_detail/session_detail.dart
  lib/features/session_page/session_detail/session_detail_desktop.dart
  lib/features/session_page/session_detail/session_detail_mobile.dart
  lib/features/session_page/session_detail/time_table.dart
  lib/features/session_page/ui/session_detail.dart
  lib/features/session_page/ui/session_detail.g.dart
  lib/features/session_page/ui/session_detail_content.dart
  lib/features/sponsor/data/sponsor_data_source.g.dart
  pubspec.lock
  pubspec.yaml
Labels: improve

#193 fix: 正常に改行されるように修正
  lib/features/session_page/ui/session_detail_content.dart
Labels: bug

#194 Session のディレクトリ構造をシンプルに修正
  lib/app/session_page.dart
  lib/features/session/data/session.dart
  lib/features/session/data/session.freezed.dart
  lib/features/session/data/session_model.dart
  lib/features/session/data/session_model.freezed.dart
  lib/features/session/data/talk.dart
  lib/features/session/data/talk.freezed.dart
  lib/features/session/data/talk_user.dart
  lib/features/session/data/talk_user.freezed.dart
  lib/features/session/ui/detail/session_detail.dart
  lib/features/session/ui/detail/session_detail.g.dart
  lib/features/session/ui/detail/session_detail_content.dart
Labels: improve
