Repository FlutterKaigi/2023, pull requests merged in 2023-08, with the labels that each got.

#130 fix: README に記載しているリンクを修正
  README.md
Labels: bug

#131 Improve: Flutter beta channel の使用理由を追記
  README.md
Labels: improve

#133 カウントダウンの実装
  assets/icons/dot.svg
  lib/app/home_page.dart
  lib/core/foundation/duration_ex.dart
  lib/core/gen/assets.gen.dart
  lib/core/theme/dimension.dart
  lib/features/conference/model/target_day.dart
  lib/features/count_down/model/count_down_timer.dart
  lib/features/count_down/model/count_down_timer.g.dart
  lib/features/count_down/model/count_down_unit.dart
  lib/features/count_down/ui/count_down_section.dart
  lib/features/count_down/ui/count_down_unit_item.dart
Labels: feature

#135 ローディング画面の追加
  lib/app/home_page.dart
  pubspec.lock
  pubspec.yaml
  web/bundle.mjs
  web/index.css
  web/index.html
  web/index.mjs
  web_assets/.gitignore
  web_assets/Makefile
  web_assets/README.md
  web_assets/index.js
  web_assets/package-lock.json
  web_assets/package.json
Labels: improve

#136 `Proposal`の`wanted`表示を削除
  assets/personal_wanted.svg
  lib/app/home_page.dart
  lib/core/gen/assets.gen.dart
  lib/features/session/wanted/session_wanted.dart
Labels: feature

#138 refactor: 位置に関する調整を SectionHeader 内で完結するよう変更
  lib/core/components/section_header.dart
  lib/core/components/wanted.dart
  lib/features/staff/ui/staff_header.dart
Labels: improve

#140 feat: Close sponsor-wanted
  assets/Illustration-Teamwork.svg
  lib/app/home_page.dart
  lib/core/gen/assets.gen.dart
  lib/features/count_down/model/count_down_timer.g.dart
  lib/features/sponsor_wanted/sponsor_wanted.dart
Labels: feature
